.editor {
    width: 47vw;
    height: 55vh;
    border: solid 1px #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.output {
    background-color: #023231;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    overflow-y: scroll;
    height: calc(40vh - 160px);
    border-radius: 6px;
    position: relative;
    width: 47vw;
    padding: 12px 0 12px 0;
}

.output p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 12px 2px 12px;
}

.console-output-error {
    color: #ec9e9e;
    background-color: #2a0200;
    border: solid 1px #ff000075;
    padding: 12px !important;
    margin-top: 6px !important;
}

.terminal-input {
    display: inline;
    background-color: #004847;
    color: #fff;
    border: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 12px 2px 12px;
    width: calc(100% - 24px);
    border-bottom: 1px solid #fff6;
    height: 20px;
}

.terminal-input:focus {
    outline: none;
    font-size: 16px;
}

.editor-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(5vh + 24px);
}

.code-exec-button {
    z-index: 99;
    border: none;
    height: 40px;
    border-radius: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins";
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    padding: 0 20px;
    top: calc(50vh + 46px);
    left: calc(67vw - 18px);
}

.stop-button {
    background: #a54949;
}
.stop-button:hover {
    background: #9c1010;
}

.run-button {
    background: #0baa0b;
}

.run-button:hover {
    background: #0cc40c;
}

.play-icon {
    margin-right: 10px;
}

.task-workspace {
    margin-left: 24px;
}

.task-assists {
    margin-left: 24px;
    width: 15vw;
}

@keyframes fade-highlight {
    0% {
        background-color: #d5afff;
    }
    100% {
        background-color: #fff;
    }
}

.highlighted-code {
    background-color: #dbbbff;
    animation-name: fade-highlight;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
