.editor {
    width: 47vw;
    height: 50vh;
    border: solid 1px #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.output {
    background-color: #023231;
    color: #fff;
    font-family: monospace;
    padding: 6px;
    padding-left: 12px;
    overflow-y: scroll;
    height: calc(50vh - 160px);
    border-radius: 6px;
    position: relative;
    margin-top: 24px;
    width: 47vw;
}

.output p {
    margin: 0;
    font-size: 16px;
}

.terminal-input {
    display: inline;
    background-color: #023231;
    color: #fff;
    border: none;
    font-family: monospace;
    font-size: 16px;
    margin-left: -2px;
}

.terminal-input:focus {
    outline: none;
    font-size: 16px;
}

.run-button {
    background: #0baa0b;
    position: absolute;
    z-index: 99;
    border: none;
    height: 40px;
    border-radius: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins";
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    padding: 0 20px;
    top: calc(50vh + 46px);
    left: calc(62vw - 18px);
}

.run-btn-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.run-button:hover {
    background: #0cc40c;
}

.play-icon {
    margin-right: 10px;
}

.task-workspace {
    margin-left: 24px;
}

.task-assists {
    margin-left: 24px;
    width: 15vw;
}

@keyframes fade-highlight {
    0% {
        background-color: #d5afff;
    }
    100% {
        background-color: #fff;
    }
}

.highlighted-code {
    background-color: #dbbbff;
    animation-name: fade-highlight;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
